<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nahlasovač chýb</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-buttons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/alerts.css}" type="text/css">
</head>
<body>

<header th:replace="vlozene/hlavicka.html"></header>

<div id="teloStranky">
    <h2>Pridanie novej chyby</h2>

    <div class="mainform">
        <form method="post" th:action="@{/vykonajPridanieChyby}">
            Názov chyby: <input type="text" name="nazovChyby"><br>
            <textarea name="popisChyby" placeholder="Tu v skratke popíšte chybu..." rows="10" cols="60"></textarea><br>
            Umiestnenie: <input type="text" name="umiestnenie"><br>

            Dôležitosť:
                <select name="dolezitost">
                    <option th:each="dolezitost : ${zoznamDolezitosti}" th:value="${dolezitost.dolezitost}" th:text="${dolezitost.popis}"></option>
                </select><br>

            <input type="submit" value="Pridať novú chybu" class="btn btn-success">
        </form>
    </div>
</div>

<footer th:replace="vlozene/pata.html"></footer>

</body>
</html>